.card {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
  border: 10px;
}

.card_body {
  display: grid;
  grid-template-rows: auto 1fr;
}

.card_body-title {
  margin: 5px;
  text-align: center;
}

.card_body-text {
}
